SECRET_KEY=change-moi-en-production
DATABASE_URL=postgresql://user:password@ep-xxx.neon.tech/portfolio?sslmode=require
CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123